// $gray-100: #f8f9fa;
// $gray-200: #e9ecef;
// $gray-300: #dee2e6;
// $gray-400: #ced4da;
// $gray-500: #adb5bd;
// $gray-600: #6c757d;
// $gray-700: #495057;
// $gray-800: #343a40;
// $gray-900: #212529;

$white: #fff;
$black: #000;
$gray: #adb5bd;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;


@function tint-color($color, $amount) {
    @return mix(white, $color, $amount);
}

@function shade-color($color, $amount) {
    @return mix(black, $color, $amount);
}

$gray-100: tint-color($gray, 80%);
$gray-200: tint-color($gray, 60%);
$gray-300: tint-color($gray, 40%);
$gray-400: tint-color($gray, 20%);
$gray-500: $gray ;
$gray-600: shade-color($gray, 20%);
$gray-700: shade-color($gray, 40%);
$gray-800: shade-color($gray, 60%);
$gray-900: shade-color($gray, 80%);

.gray-100 {
    background-color: $gray-100;
}

.gray-200 {
    background-color: $gray-200;
}

.gray-300 {
    background-color: $gray-300;
}

.gray-400 {
    background-color: $gray-400;
}

.gray-500 {
    background-color: $gray-500;
}

.gray-600 {
    background-color: $gray-600;
}

.gray-700 {
    background-color: $gray-700;
}

.gray-800 {
    background-color: $gray-800;
}

.gray-900 {
    background-color: $gray-900;
}

$blue-100: tint-color($blue, 80%);
$blue-200: tint-color($blue, 60%);
$blue-300: tint-color($blue, 40%);
$blue-400: tint-color($blue, 20%);
$blue-500: $blue ;
$blue-600: shade-color($blue, 20%);
$blue-700: shade-color($blue, 40%);
$blue-800: shade-color($blue, 60%);
$blue-900: shade-color($blue, 80%);

.blue-100 {
    background-color: $blue-100;
}

.blue-200 {
    background-color: $blue-200;
}

.blue-300 {
    background-color: $blue-300;
}

.blue-400 {
    background-color: $blue-400;
}

.blue-500 {
    background-color: $blue-500;
}

.blue-600 {
    background-color: $blue-600;
}

.blue-700 {
    background-color: $blue-700;
}

.blue-800 {
    background-color: $blue-800;
}

.blue-900 {
    background-color: $blue-900;
}

.blue-100:hover {
    background-color: white;
    color: $blue-100;
}

.blue-200:hover {
    background-color: white;
    color: $blue-200;
}

.blue-300:hover {
    background-color: white;
    color: $blue-300;
}

.blue-400:hover {
    background-color: white;
    color: $blue-400;
}

.blue-500:hover {
    background-color: white;
    color: $blue-500;
}

.blue-600:hover {
    background-color: white;
    color: $blue-600;
}

.blue-700:hover {
    background-color: white;
    color: $blue-700;
}

.blue-800:hover {
    background-color: white;
    color: $blue-800;
}

.blue-900:hover {
    background-color: white;
    color: $blue-900;
}

$indigo-100: tint-color($indigo, 80%);
$indigo-200: tint-color($indigo, 60%);
$indigo-300: tint-color($indigo, 40%);
$indigo-400: tint-color($indigo, 20%);
$indigo-500: $indigo ;
$indigo-600: shade-color($indigo, 20%);
$indigo-700: shade-color($indigo, 40%);
$indigo-800: shade-color($indigo, 60%);
$indigo-900: shade-color($indigo, 80%);

.indigo-100 {
    background-color: $indigo-100;
}

.indigo-200 {
    background-color: $indigo-200;
}

.indigo-300 {
    background-color: $indigo-300;
}

.indigo-400 {
    background-color: $indigo-400;
}

.indigo-500 {
    background-color: $indigo-500;
}

.indigo-600 {
    background-color: $indigo-600;
}

.indigo-700 {
    background-color: $indigo-700;
}

.indigo-800 {
    background-color: $indigo-800;
}

.indigo-900 {
    background-color: $indigo-900;
}

.indigo-100:hover {
    background-color: white;
    color: $indigo-100;
}

.indigo-200:hover {
    background-color: white;
    color: $indigo-200;
}

.indigo-300:hover {
    background-color: white;
    color: $indigo-300;
}

.indigo-400:hover {
    background-color: white;
    color: $indigo-400;
}

.indigo-500:hover {
    background-color: white;
    color: $indigo-500;
}

.indigo-600:hover {
    background-color: white;
    color: $indigo-600;
}

.indigo-700:hover {
    background-color: white;
    color: $indigo-700;
}

.indigo-800:hover {
    background-color: white;
    color: $indigo-800;
}

.indigo-900:hover {
    background-color: white;
    color: $indigo-900;
}

$purple-100: tint-color($purple, 80%);
$purple-200: tint-color($purple, 60%);
$purple-300: tint-color($purple, 40%);
$purple-400: tint-color($purple, 20%);
$purple-500: $purple ;
$purple-600: shade-color($purple, 20%);
$purple-700: shade-color($purple, 40%);
$purple-800: shade-color($purple, 60%);
$purple-900: shade-color($purple, 80%);

.purple-100 {
    background-color: $purple-100;
}

.purple-200 {
    background-color: $purple-200;
}

.purple-300 {
    background-color: $purple-300;
}

.purple-400 {
    background-color: $purple-400;
}

.purple-500 {
    background-color: $purple-500;
}

.purple-600 {
    background-color: $purple-600;
}

.purple-700 {
    background-color: $purple-700;
}

.purple-800 {
    background-color: $purple-800;
}

.purple-900 {
    background-color: $purple-900;
}

.purple-100:hover {
    background-color: white;
    color: $purple-100;
}

.purple-200:hover {
    background-color: white;
    color: $purple-200;
}

.purple-300:hover {
    background-color: white;
    color: $purple-300;
}

.purple-400:hover {
    background-color: white;
    color: $purple-400;
}

.purple-500:hover {
    background-color: white;
    color: $purple-500;
}

.purple-600:hover {
    background-color: white;
    color: $purple-600;
}

.purple-700:hover {
    background-color: white;
    color: $purple-700;
}

.purple-800:hover {
    background-color: white;
    color: $purple-800;
}

.purple-900:hover {
    background-color: white;
    color: $purple-900;
}

$pink-100: tint-color($pink, 80%);
$pink-200: tint-color($pink, 60%);
$pink-300: tint-color($pink, 40%);
$pink-400: tint-color($pink, 20%);
$pink-500: $pink ;
$pink-600: shade-color($pink, 20%);
$pink-700: shade-color($pink, 40%);
$pink-800: shade-color($pink, 60%);
$pink-900: shade-color($pink, 80%);

.pink-100 {
    background-color: $pink-100;
}

.pink-200 {
    background-color: $pink-200;
}

.pink-300 {
    background-color: $pink-300;
}

.pink-400 {
    background-color: $pink-400;
}

.pink-500 {
    background-color: $pink-500;
}

.pink-600 {
    background-color: $pink-600;
}

.pink-700 {
    background-color: $pink-700;
}

.pink-800 {
    background-color: $pink-800;
}

.pink-900 {
    background-color: $pink-900;
}

.pink-100:hover {
    background-color: white;
    color: $pink-100;
}

.pink-200:hover {
    background-color: white;
    color: $pink-200;
}

.pink-300:hover {
    background-color: white;
    color: $pink-300;
}

.pink-400:hover {
    background-color: white;
    color: $pink-400;
}

.pink-500:hover {
    background-color: white;
    color: $pink-500;
}

.pink-600:hover {
    background-color: white;
    color: $pink-600;
}

.pink-700:hover {
    background-color: white;
    color: $pink-700;
}

.pink-800:hover {
    background-color: white;
    color: $pink-800;
}

.pink-900:hover {
    background-color: white;
    color: $pink-900;
}

$red-100: tint-color($red, 80%);
$red-200: tint-color($red, 60%);
$red-300: tint-color($red, 40%);
$red-400: tint-color($red, 20%);
$red-500: $red ;
$red-600: shade-color($red, 20%);
$red-700: shade-color($red, 40%);
$red-800: shade-color($red, 60%);
$red-900: shade-color($red, 80%);

.red-100 {
    background-color: $red-100;
}

.red-200 {
    background-color: $red-200;
}

.red-300 {
    background-color: $red-300;
}

.red-400 {
    background-color: $red-400;
}

.red-500 {
    background-color: $red-500;
}

.red-600 {
    background-color: $red-600;
}

.red-700 {
    background-color: $red-700;
}

.red-800 {
    background-color: $red-800;
}

.red-900 {
    background-color: $red-900;
}

.red-100:hover {
    background-color: white;
    color: $red-100;
}

.red-200:hover {
    background-color: white;
    color: $red-200;
}

.red-300:hover {
    background-color: white;
    color: $red-300;
}

.red-400:hover {
    background-color: white;
    color: $red-400;
}

.red-500:hover {
    background-color: white;
    color: $red-500;
}

.red-600:hover {
    background-color: white;
    color: $red-600;
}

.red-700:hover {
    background-color: white;
    color: $red-700;
}

.red-800:hover {
    background-color: white;
    color: $red-800;
}

.red-900:hover {
    background-color: white;
    color: $red-900;
}

$orange-100: tint-color($orange, 80%);
$orange-200: tint-color($orange, 60%);
$orange-300: tint-color($orange, 40%);
$orange-400: tint-color($orange, 20%);
$orange-500: $orange ;
$orange-600: shade-color($orange, 20%);
$orange-700: shade-color($orange, 40%);
$orange-800: shade-color($orange, 60%);
$orange-900: shade-color($orange, 80%);

.orange-100 {
    background-color: $orange-100;
}

.orange-200 {
    background-color: $orange-200;
}

.orange-300 {
    background-color: $orange-300;
}

.orange-400 {
    background-color: $orange-400;
}

.orange-500 {
    background-color: $orange-500;
}

.orange-600 {
    background-color: $orange-600;
}

.orange-700 {
    background-color: $orange-700;
}

.orange-800 {
    background-color: $orange-800;
}

.orange-900 {
    background-color: $orange-900;
}

.orange-100:hover {
    background-color: white;
    color: $orange-100;
}

.orange-200:hover {
    background-color: white;
    color: $orange-200;
}

.orange-300:hover {
    background-color: white;
    color: $orange-300;
}

.orange-400:hover {
    background-color: white;
    color: $orange-400;
}

.orange-500:hover {
    background-color: white;
    color: $orange-500;
}

.orange-600:hover {
    background-color: white;
    color: $orange-600;
}

.orange-700:hover {
    background-color: white;
    color: $orange-700;
}

.orange-800:hover {
    background-color: white;
    color: $orange-800;
}

.orange-900:hover {
    background-color: white;
    color: $orange-900;
}

$yellow-100: tint-color($yellow, 80%);
$yellow-200: tint-color($yellow, 60%);
$yellow-300: tint-color($yellow, 40%);
$yellow-400: tint-color($yellow, 20%);
$yellow-500: $yellow ;
$yellow-600: shade-color($yellow, 20%);
$yellow-700: shade-color($yellow, 40%);
$yellow-800: shade-color($yellow, 60%);
$yellow-900: shade-color($yellow, 80%);

.yellow-100 {
    background-color: $yellow-100;
}

.yellow-200 {
    background-color: $yellow-200;
}

.yellow-300 {
    background-color: $yellow-300;
}

.yellow-400 {
    background-color: $yellow-400;
}

.yellow-500 {
    background-color: $yellow-500;
}

.yellow-600 {
    background-color: $yellow-600;
}

.yellow-700 {
    background-color: $yellow-700;
}

.yellow-800 {
    background-color: $yellow-800;
}

.yellow-900 {
    background-color: $yellow-900;
}

.yellow-100:hover {
    background-color: white;
    color: $yellow-100;
}

.yellow-200:hover {
    background-color: white;
    color: $yellow-200;
}

.yellow-300:hover {
    background-color: white;
    color: $yellow-300;
}

.yellow-400:hover {
    background-color: white;
    color: $yellow-400;
}

.yellow-500:hover {
    background-color: white;
    color: $yellow-500;
}

.yellow-600:hover {
    background-color: white;
    color: $yellow-600;
}

.yellow-700:hover {
    background-color: white;
    color: $yellow-700;
}

.yellow-800:hover {
    background-color: white;
    color: $yellow-800;
}

.yellow-900:hover {
    background-color: white;
    color: $yellow-900;
}

$green-100: tint-color($green, 80%);
$green-200: tint-color($green, 60%);
$green-300: tint-color($green, 40%);
$green-400: tint-color($green, 20%);
$green-500: $green ;
$green-600: shade-color($green, 20%);
$green-700: shade-color($green, 40%);
$green-800: shade-color($green, 60%);
$green-900: shade-color($green, 80%);

.green-100 {
    background-color: $green-100;
}

.green-200 {
    background-color: $green-200;
}

.green-300 {
    background-color: $green-300;
}

.green-400 {
    background-color: $green-400;
}

.green-500 {
    background-color: $green-500;
}

.green-600 {
    background-color: $green-600;
}

.green-700 {
    background-color: $green-700;
}

.green-800 {
    background-color: $green-800;
}

.green-900 {
    background-color: $green-900;
}

.green-100:hover {
    background-color: white;
    color: $green-100;
}

.green-200:hover {
    background-color: white;
    color: $green-200;
}

.green-300:hover {
    background-color: white;
    color: $green-300;
}

.green-400:hover {
    background-color: white;
    color: $green-400;
}

.green-500:hover {
    background-color: white;
    color: $green-500;
}

.green-600:hover {
    background-color: white;
    color: $green-600;
}

.green-700:hover {
    background-color: white;
    color: $green-700;
}

.green-800:hover {
    background-color: white;
    color: $green-800;
}

.green-900:hover {
    background-color: white;
    color: $green-900;
}

$teal-100: tint-color($teal, 80%);
$teal-200: tint-color($teal, 60%);
$teal-300: tint-color($teal, 40%);
$teal-400: tint-color($teal, 20%);
$teal-500: $teal ;
$teal-600: shade-color($teal, 20%);
$teal-700: shade-color($teal, 40%);
$teal-800: shade-color($teal, 60%);
$teal-900: shade-color($teal, 80%);

.teal-100 {
    background-color: $teal-100;
}

.teal-200 {
    background-color: $teal-200;
}

.teal-300 {
    background-color: $teal-300;
}

.teal-400 {
    background-color: $teal-400;
}

.teal-500 {
    background-color: $teal-500;
}

.teal-600 {
    background-color: $teal-600;
}

.teal-700 {
    background-color: $teal-700;
}

.teal-800 {
    background-color: $teal-800;
}

.teal-900 {
    background-color: $teal-900;
}

.teal-100:hover {
    background-color: white;
    color: $teal-100;
}

.teal-200:hover {
    background-color: white;
    color: $teal-200;
}

.teal-300:hover {
    background-color: white;
    color: $teal-300;
}

.teal-400:hover {
    background-color: white;
    color: $teal-400;
}

.teal-500:hover {
    background-color: white;
    color: $teal-500;
}

.teal-600:hover {
    background-color: white;
    color: $teal-600;
}

.teal-700:hover {
    background-color: white;
    color: $teal-700;
}

.teal-800:hover {
    background-color: white;
    color: $teal-800;
}

.teal-900:hover {
    background-color: white;
    color: $teal-900;
}

$cyan-100: tint-color($cyan, 80%);
$cyan-200: tint-color($cyan, 60%);
$cyan-300: tint-color($cyan, 40%);
$cyan-400: tint-color($cyan, 20%);
$cyan-500: $cyan ;
$cyan-600: shade-color($cyan, 20%);
$cyan-700: shade-color($cyan, 40%);
$cyan-800: shade-color($cyan, 60%);
$cyan-900: shade-color($cyan, 80%);

.cyan-100 {
    background-color: $cyan-100;
}

.cyan-200 {
    background-color: $cyan-200;
}

.cyan-300 {
    background-color: $cyan-300;
}

.cyan-400 {
    background-color: $cyan-400;
}

.cyan-500 {
    background-color: $cyan-500;
}

.cyan-600 {
    background-color: $cyan-600;
}

.cyan-700 {
    background-color: $cyan-700;
}

.cyan-800 {
    background-color: $cyan-800;
}

.cyan-900 {
    background-color: $cyan-900;
}

.cyan-100:hover {
    background-color: white;
    color: $cyan-100;
}

.cyan-200:hover {
    background-color: white;
    color: $cyan-200;
}

.cyan-300:hover {
    background-color: white;
    color: $cyan-300;
}

.cyan-400:hover {
    background-color: white;
    color: $cyan-400;
}

.cyan-500:hover {
    background-color: white;
    color: $cyan-500;
}

.cyan-600:hover {
    background-color: white;
    color: $cyan-600;
}

.cyan-700:hover {
    background-color: white;
    color: $cyan-700;
}

.cyan-800:hover {
    background-color: white;
    color: $cyan-800;
}

.cyan-900:hover {
    background-color: white;
    color: $cyan-900;
}

$primary: $blue ;
$secondary: $gray-600 ;
$success: $green ;
$info: $cyan ;
$warning: $yellow ;
$danger: $red ;
$light: $gray-100 ;
$dark: $gray-900 ;

primary-color {
    color: $primary;
}

secondary-color {
    color: $secondary;
}

success-color {
    color: $success;
}

info-color {
    color: $info;
}

warning-color {
    color: $warning;
}

danger-color {
    color: $danger;
}

light-color {
    color: $light;
}

dark-color {
    color: $dark;
}